RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]

RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteCond %{HTTPS} !on

RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
# Deny access to database config
<Files "/config/database.php">
    Order Allow,Deny
    Deny from all
</Files>

# Protect sessions directory
<Files "sess_*">
    Order Allow,Deny
    Deny from all
</Files>